packages/*/yarn.lock
packages/*/package-lock.json
# These directories are used to test CLI tools
devops/snippets/*
devops/out/*
devops/source/*

# Logs
logs
*.log

*.vsix
out/*
node_modules/
test/**/public
yarn.lock
package-lock.json
dist/*
*.exe