.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.code-workspace
**/*.prettierrc.yaml
images/**
!src/data/extensions/*
node_modules
!bin
!shared
webpack.config.js
.gitlab-ci.yml
# Compiled into CLI tools
microservices/**
devops/**